.editProfile {
  display: flex;
  height: calc(100vh - 60px);
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: var(--pink);
}
.editProfile__box {
  display: flex;
  padding: 30px;
  border-radius: 8px;
  min-width: 50vw;
  background-color: var(--white);
  flex-direction: column;
  box-shadow: 0px 0px 32px 8px #86868630;
  gap: 8px;
}
.editProfile__title {
  font-size: 20px;
}
@media (max-width: 1366px) {
  .editProfile__box {
    padding: 12px;
  }
}
