.errorPage {
  display: flex;
  height: calc(100vh - 60px);
  padding: 70px 8px 8px;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--pink);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  font-size: 48px;
  text-align: center;
  color: var(--violet);
  text-shadow: 0px 0px 14px var(--violet-opacity);
  text-transform: uppercase;
  font-weight: bold;
}
.errorPage.without {
  height: 100vh;
}
.errorPage__pig {
  display: block;
  max-width: 100%;
  width: 400px;
  max-height: calc(100vh - 200px);
}
@media (max-width: 768px) {
  .errorPage {
    font-size: 32px;
  }
}
